:root {
  --container: 1360px;
  --container_big: 1580px;
  --fz60: 60px;
  --fz38: 38px;
  --fz28: 28px;
  --fz24: 24px;
  --fz22: 22px;
  --fz20: 20px;
  --fz18: 18px;
  --fz16: 16px;
  --fz14: 14px;
  --fz8: 8px;
  --fz48: 48px;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: font-family "Grtsk Peta";
  font-size: var(--fz14);
  box-sizing: border-box;
  font-weight: 400;
  color: #000;
}

a,
a i {
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

a:hover,
a:hover i {
  color: rgba(14, 14, 14, 0.7);
}

section {
  padding: 50px 0;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

img,
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid #000;
  background: #FFFFFF;
  padding: 10px 18px;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  transition: all 0.3s;
}
input.error,
textarea.error,
select.error {
  border-color: red !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3e%3cpath d='M4.2907 7.42566L0.618285 0.675658L7.96313 0.675659L4.2907 7.42566Z' fill='%23444444'/%3e%3c/svg%3e") calc(100% - 5px)/10px no-repeat #FFFFFF;
}
select::-ms-expand {
  display: none;
}

ul {
  list-style: none;
}

.pt0 {
  padding-top: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 18px 37px;
  background-color: #000;
  border: 1px solid transparent;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #FFFFFF;
  color: #000;
}
.btn:hover i {
  color: #FFFFFF;
}
.btn.white {
  color: #000;
  background-color: #FFFFFF;
}
.btn.white:hover {
  background-color: #000;
  color: #FFFFFF;
}
.btn.red {
  color: #000;
  background-color: #EB5757;
}
.btn.red:hover {
  background-color: #000;
  color: #FFFFFF;
}

._title {
  font-size: var(--fz64);
  font-weight: 500;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: var(--container);
}

.header-add {
  background-color: #000;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
.header-add a {
  color: #FFFFFF;
}
.header-add .header-addBlock {
  padding: 15px 0;
}
.header-add .header-addBlock .info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-add .header-addBlock .info-block .item {
  display: flex;
  align-items: center;
}
.header-add .header-addBlock .info-block .item:nth-child(1) {
  gap: 35px;
}
.header-add .header-addBlock .info-block .item:nth-child(2) > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-add .header-addBlock .info-block .item:nth-child(2) > ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-add .header-addBlock .info-block .item:nth-child(2) > ul li .icon {
  width: 20px;
  height: 20px;
}
.header-add .header-addBlock .info-block .item:nth-child(2) > ul li .icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.header-add .header-addBlock .info-block .item .location {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-add .header-addBlock .info-block .item .location .text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-add .header-addBlock .info-block .item .location .text span {
  display: inline-block;
}
.header-add .header-addBlock .info-block .item .location .text select {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
  flex: 1;
}
.header-add .header-addBlock .info-block .item .location .text select option {
  color: #000;
}
.header-add .header-addBlock .info-block .item nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 26px;
}

header {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}
header .header .info-block {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 22px 0;
}
header .header .info-block .item.category {
  display: flex;
  align-items: center;
}
header .header .info-block .item.category ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px;
}
header .header .info-block .item.category ul li {
  display: block;
  position: relative;
}
header .header .info-block .item.category ul li.active::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
header .header .info-block .item.logoBlock {
  width: 240px;
}
header .header .info-block .item.logoBlock .logo {
  width: 100%;
}
header .header .info-block .item.logoBlock .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
header .header .info-block .item.functions {
  font-size: var(--fz8);
}
header .header .info-block .item.functions ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: flex-end;
}
header .header .info-block .item.functions ul li a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
header .header .info-block .item.functions ul li a .icon {
  width: 24px;
  height: 24px;
}
header .header .info-block .item.functions ul li a .icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
header .header .info-block .item.functions ul li a span {
  display: block;
  text-transform: uppercase;
}

.header-category {
  margin-bottom: 25px;
  background-color: #F9F9F9;
}
.header-category .header-categoryBlock {
  padding: 17px 0;
}
.header-category .header-categoryBlock ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px 25px;
  flex-wrap: wrap;
}
.header-category .header-categoryBlock ul li.active a, .header-category .header-categoryBlock ul li:hover a {
  color: #EB5757;
}
.header-category .header-categoryBlock ul li a {
  display: block;
}

.sliderMainSection .sliderMainBlock .swiper .swiper-wrapper {
  height: 480px;
}
.sliderMainSection .sliderMainBlock .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.sliderMainSection .sliderMainBlock .swiper .swiper-wrapper .swiper-slide .desc {
  position: absolute;
  bottom: 76px;
  left: 0;
  padding: 16px 38px 16px 30px;
  background-color: #000;
  color: #FFFFFF;
  font-size: var(--fz48);
  text-transform: uppercase;
  font-weight: 700;
}
.sliderMainSection .sliderMainBlock .swiper .swiper-button-next, .sliderMainSection .sliderMainBlock .swiper .swiper-button-prev {
  color: #000;
  padding: 37px 10px;
  background-color: #F9F9F9;
}
.sliderMainSection .sliderMainBlock .swiper .swiper-button-next::after, .sliderMainSection .sliderMainBlock .swiper .swiper-button-prev::after {
  font-size: 22px;
}
.sliderMainSection .sliderMainBlock .swiper .swiper-button-next .swiper-button-next, .sliderMainSection .sliderMainBlock .swiper .swiper-button-next .swiper-rtl .swiper-button-prev, .sliderMainSection .sliderMainBlock .swiper .swiper-button-prev .swiper-button-next, .sliderMainSection .sliderMainBlock .swiper .swiper-button-prev .swiper-rtl .swiper-button-prev {
  right: 0;
}
.sliderMainSection .sliderMainBlock .swiper .swiper-button-next .swiper-button-prev, .sliderMainSection .sliderMainBlock .swiper .swiper-button-next .swiper-rtl .swiper-button-next, .sliderMainSection .sliderMainBlock .swiper .swiper-button-prev .swiper-button-prev, .sliderMainSection .sliderMainBlock .swiper .swiper-button-prev .swiper-rtl .swiper-button-next {
  left: 0;
}

.brandSection .brandBlock .info-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));
  gap: 20px;
  opacity: 0.8;
}
.brandSection .brandBlock .info-block .item {
  height: 70px;
}
.brandSection .brandBlock .info-block .item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.stocksSection .stocksBlock .info-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));
  gap: 10px;
}
.stocksSection .stocksBlock .info-block .item {
  max-width: 667px;
}
.stocksSection .stocksBlock .info-block .item img {
  height: 270px;
}
.stocksSection .stocksBlock .info-block .item p {
  display: block;
  width: 100%;
  color: #FFFFFF;
  background-color: #000;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 22px 30px;
  font-size: var(--fz22);
}/*# sourceMappingURL=style.css.map */