$lgrey: #F9F9F9;
$red: #EB5757;
$white: #FFFFFF;
$dgrey: #828B8D;
$black: #000;
$font_1:  font-family 'Grtsk Peta';
@mixin bg_s {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin df_ac {
    display: flex;
    align-items: center;
}
@mixin df_jcc {
    display: flex;
    justify-content: center;
}
@mixin df_ac_jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}
:root {
    --container: 1360px;
    --container_big: 1580px;
    --fz60: 60px;
    --fz38: 38px;
    --fz28: 28px;
    --fz24: 24px;
    --fz22: 22px;
    --fz20: 20px;
    --fz18: 18px;
    --fz16: 16px;
    --fz14: 14px;
    --fz8: 8px;
    --fz48: 48px;
    --fz32: 32px;

}
body {
    background-color: $white;
    margin: 0;
    padding: 0;
    color: $black;
    font-family: $font_1;
    font-size: var(--fz14);
    box-sizing: border-box;
    font-weight: 400;
    color: $black;
}
a,
a i {
    display: inline-block;
    text-decoration: none;
    color: $black;
    transition: all .3s;
}
a:hover,
a:hover i {
    color: rgba(14, 14, 14, 0.7);
}
section {
    padding: 50px 0;
}
.pt-mini {
    padding-top: 25px!important;
}
.pt0 {
    padding-top: 0!important;
}
.pb0 {
    padding-bottom: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.mb0 {
    margin-bottom: 0!important;
}
img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input,
textarea,
select {
    outline: none;
    border: 1px solid $black;
    background: $white;
    padding: 10px 18px;
    height: fit-content;
    backdrop-filter: blur(5px);
    width: 100%;
    transition: all .3s;
    &.error {
        border-color: red!important;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3e%3cpath d='M4.2907 7.42566L0.618285 0.675658L7.96313 0.675659L4.2907 7.42566Z' fill='%23444444'/%3e%3c/svg%3e") calc(100% - 5px) / 10px no-repeat $white;
    &::-ms-expand {
        display: none;
    }
}
ul {
    list-style: none;
}
.pt0 {
    padding-top: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 18px 37px;
    background-color: $black;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all .3s;
    cursor: pointer;
    color: $black;
    text-transform: uppercase;
    &:hover {
        background-color: $dgrey;
        color: $black;
        i {
            color: $white;
        }
    }
   &.white {
    color: $black;
    background-color: $white;
    &:hover {
        background-color: $black;
        color: $white;
    }
   }
   &.red {
    color: $black;
    background-color: $red;
    &:hover {
        background-color: $black;
        color: $white;
    }
   }
}
._title {
    font-size: var(--fz64);
    font-weight: 500;
    color: $black;
}
h1, h2, h3, h4, h5, h6 {
  color: $black;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: var(--container);
}

.header-add {
    background-color: $black;
    color: $white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    a {
        color: $white;
    }
    .header-addBlock {
        padding: 15px 0;
        .info-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                @include df_ac;
                &:nth-child(1) {
                    gap: 35px
                }
                &:nth-child(2) {
                    > ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        @include df_ac;
                        gap: 30px;
                        li {
                            @include df_ac;
                            gap: 15px;
                            .icon {
                                width: 20px;
                                height: 20px;
                                img {
                                    object-fit: contain
                                }
                            }
                        }
                        
                    }
                }
                .location {
                    @include df_ac;
                    gap: 15px;
                    .text {
                       @include df_ac;
                       gap: 5px;
                       span {
                        display: inline-block;
                       }
                        select {
                            padding: 0;
                            margin: 0;
                            background-color: transparent;
                            border: 0;
                            color: $white;
                            flex: 1;
                            option {
                                color: $black;
                            }
                        }
                    }
                }
                nav {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        @include df_ac;
                        gap: 26px;
                    }
                }
            }
        }
    }
}
header {
    background-color: $white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    .header {
        .info-block {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            padding: 22px 0;
            .item {
                &.category {
                    @include df_ac;
                    ul {
                        margin: 0;
                        padding: 0;
                        @include df_ac;
                        gap: 25px;
                        li {
                            display: block;
                            position: relative;
                            &.active {
                                &::before {
                                    content: '';
                                    position: absolute;
                                    bottom: -10px;
                                    left: 0;
                                    width: 100%;
                                    height: 2px;
                                    background-color: $black;
                                }
                            }
                        }
                    }
                }
                &.logoBlock {
                    width: 240px;
                    .logo {
                        width: 100%;
                        img {
                            object-fit: contain;
                        }
                    }
                }
                &.functions {
                    font-size: var(--fz8);
                    ul {
                        margin: 0;
                        padding: 0;
                        @include df_ac;
                        gap: 25px;
                        justify-content: flex-end;
                        li {
                            a {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                align-items: center;
                                justify-content: center;
                                .icon {
                                    width: 24px;
                                    height: 24px; 
                                    img {
                                        object-fit: contain;
                                    }
                                }
                                span {
                                    display: block;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
.header-category {
    background-color: $lgrey;
    .header-categoryBlock {
        padding: 17px 0;
        ul {
            margin: 0;
            padding: 0;
            @include df_ac;
            gap: 10px 25px;
            flex-wrap: wrap;
            li {
                &.active,
                &:hover {
                    a {
                        color: $red;
                    }
                    
                }
                a {
                    display: block;
                }
            }
        }
    }
}

.sliderMainSection {
    .sliderMainBlock {
        .swiper {
            .swiper-wrapper {
                height: 480px;
                .swiper-slide {
                    position: relative;
                    .desc {
                        position: absolute;
                        bottom: 76px;
                        left: 0;
                        padding: 16px 38px 16px 30px;
                        background-color: $black;
                        color: $white;
                        font-size: var(--fz48);
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
            .swiper-button-next, .swiper-button-prev {
                color: $black;
                padding: 37px 10px;
                background-color: $lgrey;
                &::after {
                    font-size: 22px;
                }
                .swiper-button-next, .swiper-rtl .swiper-button-prev {
                    right: 0;
                }
                .swiper-button-prev, .swiper-rtl .swiper-button-next {
                    left: 0;
                }
            }
        }
    }
}

.brandSection {
    .brandBlock {
        .info-block {
            // display: flex;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, auto));
            gap: 20px;
            opacity: .8;
            .item {
                height: 70px;
                img {
                    object-fit: contain;
                }
            }
        }
    }
}
.stocksSection {
    .stocksBlock {
        .info-block {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, auto));
            gap: 10px;
            .item {
                max-width: 667px;
                img {
                    height: 270px;
                }
                p {
                    display: block;
                    width: 100%;
                    color: $white;
                    background-color: $black;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                    padding: 22px 30px;
                    font-size: var(--fz22);
                }
            }
        }
    }
}

.newProductSection {
    .newProductBlock {
        .slider-block {
            position: relative;
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        .img {
                            background-color: $lgrey;
                            height: 270px;
                            padding: 45px 25px 55px;
                            img {
                                object-fit: contain;
                            }
                        }
                        .favourites {
                            position: absolute;
                            top: 15px;
                            right: 15px;
                        }
                        .inforamtion {
                            padding-top: 10px;
                            background-color: $white;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .name-category {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                .name {
                                    text-transform: uppercase;
                                    font-size: var(--fz16);
                                    font-weight: 500;
                                }
                                .category {
                                    font-weight: 500;
                                    color: $dgrey;

                                }
                            }
                            .price {
                                font-size: var(--fz18);
                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                span {
                                    display: block;
                                    &.new {
                                        color: $red;
                                    }
                                    &.old {
                                        position: relative;
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
        .btn-block {
            margin-top: 77px;
            display: flex;
            justify-content: center;
            .btn {
                width: fit-content;
                color: $white;
            }
        }
    }
}
._title {
    font-size: (var(--fz32));
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}
.swiper-button-next, .swiper-button-prev {
    color: $black;
    &::after {
        font-size: 20px;
    }
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -45px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -45px;
}